/* @import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dekko&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gamja Flower', sans-serif;
    font-weight: 700;
}

body{
    background-color: #F4C3C2;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    
}

.body-container{
    /* background-color: red; */
    position: relative;
    display: flex;
    gap:1em;
    /* background-color: beige; */
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 900px;
    height: 900px;
    margin:30px;
}

.container{
    padding: 2em;

    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px;
}

.container h1{
    font-size: 3em;
    color: #F6F2FF;
    margin-bottom: 10px;
    /* background-color: yellow; */
    text-align: center;
}

.container h1.active{
    display: none;
}

.pic img{
    width: 300px;
    height: 300px;
    border-radius: 2rem;
}

.btn-container{

    display: flex;
    gap:1em;
    /* background-color: beige; */
    justify-content: center;
    margin-top: 15px;
}

.btn-container button{
    position: absolute;
    width: 120px;
    height: inherit;
    outline: none;
    border: none;
    border-radius: 2em;
    padding: 1em;
    cursor: pointer;
    font-family: 'Dekko', cursive;
    font-weight: 400;
    font-size: 1rem;
}

.yes-btn{
    text-align: center;
    margin-left: -150px;
    background-color: #FF8FAB;
    color:#F6F2FF;
    scale:1;
    animation: tilt-shaking 1s infinite;
    box-shadow: #FB6F92 5px 5px;
}

.yes-btn:hover{
    scale: 1.2;
    animation: tilt-shaking .2s infinite;
}

.yes-btn::after{
    /* content: url(./image/bow.png); */
    content: "";
    background-image: url(./image/bow.png);
    position: absolute;
    top: -20%;
    right: 70%; /*To the left of the tooltip */
    margin-top: -5px;
   background-size: cover;
   background-repeat: no-repeat;
   width: 50px;
   height: 50px;
   transform: rotate(-35deg);
}

.yes-btn.active{
    display: none;
}

.answer-yes{
    display: none;
    background-color: #FF8FAB;
    color:#F6F2FF;
    animation: tilt-shaking 1s infinite;
    box-shadow: #FB6F92 5px 5px;
    text-align: center;
    margin-left: 0;
    scale: 1;
    width: 25rem;
}

.answer-yes::before{
    /* content: url(./image/bow.png); */
    content: "";
    background-image: url(./image/bow.png);
    position: absolute;
    top: -5%;
    right: -1%; /*To the left of the tooltip */
    margin-top: -5px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
   /* background-color: yellow; */
}

.answer-yes::after{
    /* content: url(./image/bow.png); */
    content: "";
    background-image: url(./image/bow.png);
    position: absolute;
    top: -5%;
    right: 90%; /*To the left of the tooltip */
    margin-top: -5px;
   background-size: cover;
   background-repeat: no-repeat;
   width: 50px;
   height: 50px;
   transform: rotate(-35deg);
}

/* .answer-yes::before{
    content: "";
    background-color: red;
} */


.answer-yes.active{
    padding: 1.9em;
    display: block;
    width: 30rem;
}

.no-btn{
    text-align: center;

    margin-right: -150px;
    background-color: #F6F2FF;
    box-shadow: #b6b4bb 5px 5px;
    color:#FB6F92 ;
}

.no-btn:hover{
    scale: 1.2;
}

.no-btn.active{
    display: none;
}

@keyframes tilt-shaking{
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }

}